@media only screen and (min-width: 640px) {

    /* ====== Members Grid ======*/
    #members {
        grid-template-columns: repeat(3, 1fr);
    }

    /* ====== Header Layout ====== */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        flex-direction: row;
        gap: 1rem;
    }

    /* ====== Navigation ====== */
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        text-align: center;
    }

    nav.open {
        display: flex;
    }

    /* ====== Hamburger hidden on desktop */
    .hamburger {
        display: none;
    }

}